.navbar {
    background-color: #046575;l
}

#active
{
    color: yellow !important;
}

.navbar a:link, .navbar a:visited
{
    color: white !important;
}

navbar a:hover
{
    color: Odedd1 !important;
    text-decoration: underline;
}

.dropdown-menu a:hover
{
    color: black !important;
}

.hidden 
{
    display: none;
}