@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>Learn, Shared, Build!</h1>
            <h3>Each month, over 50 milion developers come to StackOverflow to learn, share their knowledge and build their careers.</h3>
            <p class="lead">Join the world's largest developer community.</p>
        </div>
    </div>
    <h1>Hello</h1>
</div>